.cartContainer{
    width: 350px;
    height: fit-content;
    margin-left: 50px;
    padding: 22px 20px;
    border-radius: 10px;
    display: block;
    background-color: hsl(20, 50%, 98%);
}
/* Your Cart (x) Description */
.yourCart{
    margin: 0;
    color: hsl(14, 86%, 42%);
}

.Cart_Empty, .Cart_NonEmpty{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Empty Cart */
.Cart_Empty{
    margin: 30px 0;
}

.emptyCartImg{
    display: block;
}
.cartEmptyMessage{
    display: block;
    width: 100%;
    text-align: center;
}

/* Non-empty Cart */
.Cart_NonEmpty{
    display: flex;
    flex-wrap: wrap;
}
.Cart_SubItems_Container{
    width: 100%;
}
.Cart_SubItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid hsl(12, 20%, 44%, 0.3);
}
.productName{
    color: hsl(14, 65%, 9%);
    font-weight: bold;
    margin-bottom: 3px;
}
.productQuantity, .productPrice, .productTotalPrice{
    display: inline-block;
    margin-right: 14px;
}
.productQuantity{
    color: hsl(14, 86%, 42%);
    font-weight: bold;
}
.productPrice{
    color: hsl(12, 20%, 44%, 0.75);
}
.productTotalPrice{
    color: hsl(12, 20%, 44%);
}
.RemoveProduct{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: hsl(20, 50%, 98%);
    border: 1px solid hsl(12, 20%, 44%);
}
.RemoveProduct:hover{
    cursor: pointer;
    background-color: hsl(14, 65%, 9%);
}
.CartOrderTotalContainer{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.totalPrice{
    font-size: 1.5rem;
    font-weight: bold;
}
.CarbonNeutralDelivery{
    width: 100%;
    padding: 14px 0;
    background-color: hsl(14, 25%, 72%, 0.2);
    border-radius: 6px;
    display: flex;
    justify-content: center;
}
.CarbonNeutralDelivery label{
    margin-left: 8px;
}
.ConfirmOrderButton{
    width: 100%;
    border-radius: 26px;
    background-color: hsl(14, 86%, 42%);
    padding: 16px 0;
    margin-top: 22px;
    color: hsl(20, 50%, 98%);
    text-align: center;
    font-size: 1rem;
    border: 0;
}
.ConfirmOrderButton:hover{
    background-color: hsl(14, 86%, 42%, 0.6);
    cursor: pointer;
}